body{
    overflow: hidden;
    display: flex;
    justify-content: center;align-items: center;
    height: 100vh;
    
}
div{
    
    margin-left: 450px;
    margin-right: 450px;
    background-color: black;
}
img{
    border: 20px solid black;
}
h1{
    color: yellow;
    text-align: center;
}
h2{
    color: white;
    text-align: center;
}